[Unit]
Description=notify successfull message to host systemd
RefuseManualStart=yes
RefuseManualStop=yes
After=multi-user.target graphical.target

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/systemd-host-notify --ready --status="container is initialized"
StandardOutput=journal+console
StandardError=journal+console
