[Unit]
Description=notify successfull message to host systemd
Before=multi-user.target
OnFailure=poweroff.target

[Install]
RequiredBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/systemd-host-notify --ready --status="container is initialized"
ExecStop=/usr/local/bin/systemd-host-notify --stopping --status="container is stopping"
StandardOutput=journal+console
StandardError=journal+console
