[Unit]
Description=Prepare to run containers
Requires=multi-user.target
After=multi-user.target
AllowIsolate=no

# need dynamic analyze
RequiresMountsFor=/var/lib/containers/storage

[Install]
WantedBy=multi-user.target
