[Unit]
Description=System Worker Services (Dependency)
Requires=containers-ensure-health.timer cleanup-stopped-containers.service services-boot.service
After=containers-ensure-health.timer cleanup-stopped-containers.service services-boot.service

Requires=name-resolve.target
After=name-resolve.target

Requires=multi-user.target
After=multi-user.target

Wants=services.timer
Before=services.timer
