[Unit]
Description=Check unexpected shutdown
After=containers.target local-fs.target sshd.socket name-resolve.target
Wants=containers.target local-fs.target sshd.socket name-resolve.target
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash "__SCRIPT__"
Restart=no
RemainAfterExit=yes
Slice=services.slice
