[Unit]
Description=Timer for the services target
After=multi-user.target
Requires=multi-user.target
DefaultDependencies=no

[Timer]
OnBootSec=${BOOT_WAIT_TIMER}
Unit=services.target

[Install]
WantedBy=timers.target
