[Unit]
Description=finally ensure all containers status is healthy
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash "__SCRIPT__"
Restart=on-failure
NotifyAccess=all
RemainAfterExit=no
RestartSec=10
StartLimitInterval=90
StartLimitBurst=10
Slice=services.slice
