[Unit]
After=systemd-resolved.service libvirt-guests.service libvirtd.service libvirtd.socket
# Requires=systemd-resolved.service

[Service]
ExecStartPre=!/usr/bin/env bash "__SCRIPT__"
