[Unit]
Description=System Worker Services
Requires=containers-ensure-health.timer wait-dns-working.service cleanup-stopped-containers.service wait-all-fstab.service
After=multi-user.target wait-dns-working.service cleanup-stopped-containers.service wait-all-fstab.service dnsmasq.service systemd-resolved.service
Conflicts=rescue.service rescue.target shutdown.target
AllowIsolate=no
Wants=multi-user.target

[Install]
WantedBy=multi-user.target
