[Unit]
Description=Delay 30s on boot

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash -c "sleep 30s"
Restart=no
RemainAfterExit=yes
TimeoutStartSec=infinity
