[Unit]
Description=System Worker Services
Requires=services-pre.target
After=services-pre.target
Conflicts=rescue.service rescue.target shutdown.target
AllowIsolate=no
