[Unit]
Description=Timer for the services target
After=default.target
Requires=default.target

[Timer]
OnBootSec=30s
Unit=services.target

[Install]
WantedBy=timers.target
