[Unit]
Description=wait all mountpoints ready
After=wait-dns-working.service network.target network-online.target wait-all-fstab.service
Requires=network.target wait-dns-working.service wait-all-fstab.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash "__SCRIPT__"
Restart=on-failure
RemainAfterExit=yes
Slice=services.slice
RestartPreventExitStatus=66
RestartSec=10
StartLimitInterval=90
StartLimitBurst=10
