[Unit]
Description=System Worker Services (Dependency)
Requires=containers-ensure-health.timer wait-dns-working.service cleanup-stopped-containers.service services-boot.service
After=multi-user.target wait-dns-working.service cleanup-stopped-containers.service services-boot.service dnsmasq.service systemd-resolved.service
