[Unit]
Description=wait dns server ready to resolve name (test for %i)
After=dnsmasq.service systemd-resolved.service unbound.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash "__SCRIPT__" "%i"
Restart=on-failure
NotifyAccess=all
RemainAfterExit=yes
RestartSec=10
StartLimitInterval=90
StartLimitBurst=10
