[Unit]
Description=just fail

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "sleep 5s; false"
Restart=no

[Install]
WantedBy=multi-user.target
