[Unit]
DefaultDependencies=no
After=systemd-networkd.socket systemd-udevd.service network-pre.target systemd-sysusers.service systemd-sysctl.service dbus.socket
Before=network.target network.target shutdown.target initrd-switch-root.target
Wants=systemd-networkd.socket network.target systemd-networkd-persistent-storage.service dbus.socket
Conflicts=shutdown.target initrd-switch-root.target
AssertCapability=CAP_NET_ADMIN
AssertCapability=CAP_NET_RAW

[Service]
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW
BusName=org.freedesktop.network1
ExecStart=/usr/lib/systemd/systemd-networkd
RestartSec=5s
RuntimeDirectory=systemd/netif
RuntimeDirectoryPreserve=yes
Type=notify-reload
User=systemd-network
WatchdogSec=3min
Environment=SYSTEMD_LOG_LEVEL=debug

[Install]
WantedBy=multi-user.target
Also=systemd-networkd.socket
Alias=dbus-org.freedesktop.network1.service
Also=systemd-network-generator.service
