[Unit]
Description=Inject nginx service to main nginx container
ConditionEnvironment=CONTAINER_ID

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
TimeoutStartSec=30s
ExecStart=/bin/bash /usr/libexec/nginx-attach-service-script.sh create
ExecStop=-/bin/bash /usr/libexec/nginx-attach-service-script.sh delete

[Install]
WantedBy=default.target
